/* ----------------------------------------------------------------
  Typography
-----------------------------------------------------------------*/

body {
    font-family: Helvetica, arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: black;
}


/* ----------------------------------------------------------------
  Helper classes
-----------------------------------------------------------------*/



.flexSpaceBetween {
     -js-display: flex;
    display: flex;
    align-content: space-between;
}

.flexCenter {
     -js-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}


.flexRow {
    -js-display: flex;
    display: -webkit-flex;
    /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    /* Safari */
    -webkit-flex-direction: row;
    align-items: center;
}

.flexColumn {
     -js-display: flex;
    display: -webkit-flex;
    /* Safari 6.1+ */
    display: flex;
    flex-direction: column;
    /* Safari */
    -webkit-flex-direction: column;
    align-items: center;
}


.hidden {
    display: none;
}

.noMargin {
    margin: 0 !important;
}


.noSelect {
-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
 
}

.noselect {
   cursor: default;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
}

.noselect:focus {
   outline: none;
}

/* ----------------------------------------------------------------
  Divs
-----------------------------------------------------------------*/


.contentWrapper {
    width: 100vw;
    height: 100vh;
}

.container {
    border: 2px #1e1e1e solid;
    width: 75%;
    min-width: 500px;
    height: 75%;
    min-height: 750px;
}

textarea {
    font-size: 16px;
    height: 25%;
    min-height: 300px;
    width: 75%;
    min-width: 400px;
}

/* ----------------------------------------------------------------
  Buttons
-----------------------------------------------------------------*/

.button-green {
    font-size: 14px;
    margin: 25px auto;
    padding: 10px 30px 13px 30px;
    text-decoration: none;
    color: #fff;
    border: 2px green solid;
    background: green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-green:hover {
    cursor: pointer;
    color: green;
    background: white;
    border: 2px green solid;
    outline: none;

}

/* ----------------------------------------------------------------
  text box
-----------------------------------------------------------------*/

